[user]
	email = jesse.millar@microsoft.com
	name = Jesse Millar
	username = jemillar
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = less -F
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[push]
	default = current
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[url "git@ssh.dev.azure.com:v3/msazure/CloudNativeCompute/"]
	insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git/
[pager]
	status = true
