[user]
	email = jesse.millar@microsoft.com
	name = Jesse Millar
	username = jemillar
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[push]
	default = current
[url "msazure@vs-ssh.visualstudio.com:v3/msazure/CloudNativeCompute"]
	insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git
