[user]
	email = jesse.millar@microsoft.com
	name = Jesse Millar
	username = jemillar
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[push]
	default = current
[url "msazure@vs-ssh.visualstudio.com:v3/msazure/CloudNativeCompute"]
	insteadOf = ssh://dev.azure.com/msazure/CloudNativeCompute/_git
[url "ssh://msazure@vs-ssh.visualstudio.com:22/DefaultCollection/One/_ssh/"]
	insteadOf = https://dev.azure.com/msazure/DefaultCollection/One/_git/
[url "ssh://msazure@vs-ssh.visualstudio.com:22/CloudNativeCompute/_ssh/"]
	insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git/
[url "git@ssh.dev.azure.com:v3/msazure/CloudNativeCompute/"]
	insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git/
[pager]
	branch = false
[http]
	sslVerify = true
[pull]
	rebase = true
[rebase]
	autoStash = true
