[user]
	email = hellojessemillar@gmail.com
	name = Jesse Millar
	username = jessemillar
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[hub]
	host = gecgithub01.walmart.com
[push]
	default = current
