[user]
	email = hellojessemillar@gmail.com
	name = Jesse Millar
[url "git@github.com:"]
	insteadOf = https://github.com/
[http "https://gopkg.in"]
	followRedirects = true
[core]
	excludesfile = /Users/j0m01o9/.gitignore_global
	editor = vim
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
