[user]
	email = hellojessemillar@gmail.com
	name = Jesse Millar
[url "git@github.com:"]
	insteadOf = https://github.com/
[http "https://gopkg.in"]
	followRedirects = true
[http]
	proxy = http://gec-proxy-svr.homeoffice.wal-mart.com:8080
