[Unit]
Description=Get battery percentage for lemonbar

[Timer]
# Time between running
OnUnitActiveSec=30
Unit=lemonbattery.service

[Install]
WantedBy=basic.target
