[Unit]
Description=Get battery percentage for lemonbar

[Timer]
# Time between running
OnBootSec=3min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
