[Unit]
Description=Get battery percentage for lemonbar
Requires=lemonbattery.service

[Timer]
# Time between running
OnUnitActiveSec=30
Unit=lemonbattery.service

[Install]
WantedBy=default.target
